#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export AUTOMAKE=automake --foreign

%:
	dh $@ --no-parallel --with autoreconf

override_dh_auto_install:
	dh_auto_install
	find debian -name '*.la' | xargs -r rm -f
